APP_NAME="GitLab Attack Lab"
APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:N0IWvWzAH8yFvCfq+5MZXu9kRVKmPkSLuX7ywPMiXLQ=
APP_URL=
ASSET_URL=

LOG_CHANNEL=single
LOG_LEVEL=debug

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_DRIVER=file
